@media screen and (max-width: 600px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        margin: 0;
      }
      
    nav{
        margin: 0px;
        flex-direction: column;
        width: 100vw;
    }
    
    nav .title{
        height: 50px;
        width: 100vw;
    }
    nav .title p{
        margin: auto;
        font-family: 'Anton', sans-serif;
        font-family: 'Ubuntu', sans-serif;
    }
    nav .list{
        text-align: justify;
        justify-content: flex-end;
        width: 100vw;
        height: 220px;
    }
    nav .list ul{
        
        flex-direction: column;
        margin-bottom: 100px;
    }
    nav .list ul li a{  
        padding: 10px;
        /* display: table-column; */
        /* margin-bottom: 100px; */
    }
    nav .list ul li a:is(:link, :active, :visited).active {
        color: rgb(0, 34, 255);
        text-decoration: underline double;
    }
    .container{
        margin: 0;
        width: 100vw;
        display: block;
        padding: 0px 30px 0px 5px;
    }
    .container img{
        margin: 0;
    }
    .container .img{
        margin: auto;
        width: 70vw;
        height: 40vh;
    }
    .container .step1{
        margin-top: 10px;
    }
    .container .step2{
        margin-top: 10px;
    }
    .container .step3{
        margin-top: 10px;
    }
    .container p{
        text-align: justify;
    }
    .container .step4{
        margin-top: 10px;
    }
    .container .description{
        margin-top: 10px;
    }
    .other img{
        margin: 0;
    }
    .other{
        display: none;
        margin: 0;
        background-color: white;
        margin: auto;
        width: 100vw;
        display: block;
    }
    .title01{
        margin-top: 20px;
        font-size: 40px;
    }
    .other .khmer{
        margin: auto;
        width: 50vw;
    }
    .other .korean{
        margin: auto;
        width: 50vw;
    }
    .other .chinese1{
        margin: auto;
        width: 50vw;
    }
    .other .chinese2{
        margin: auto;
        width: 50vw;
    }
    .other .korean1{
        margin: auto;
        width: 50vw;
    }
    .other .chinese3{
        margin: auto;
        width: 50vw;
    }
    
}