*{
    margin: 0;
}

    nav{
        width: 900px;
        display: flex;
        margin: auto;
    }
    nav .title{
    
        width: 40%;
        height: 100px;
        font-size: 1.5em;
        display: flex;
        
    }
    nav .title p{
        margin: auto 0;
    }
    nav .list{
        display: flex;
        width: 60%;
        height: 100px;
    }
    nav .list ul{
        list-style: none ;
        display: flex;
        margin: auto
    }
    nav .list ul li{
        padding: 10px;
    }
    nav .list ul li a{
        font-size: 1.2em;
        text-decoration: none;
        color: black;
        margin: 0;
    }
    nav .list ul li a:focus{
        text-decoration: underline blue;
        /* background-color: red; */
    }
    nav .list ul li a:hover{
        background-color: azure;
    }
    .container{
        width: 900px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.4fr 0.4fr 0.5fr 0.5fr;
        grid-template-areas: 
        "img step1"
        "img step2"
        "description step3"
        "description step4";
        gap: 20px;
        
    }
    .img{
        background-color: aqua;
        grid-area: img;
        
    }
    .img img{
        width: 100%;
    }
    .step1{
        grid-area: step1;
    }
    .step2{
        grid-area: step2;
    }
    .step3{
        grid-area: step3;
    }
    .step4{
        grid-area: step4;
    }
    .description{
        margin-top: 5vh;
        grid-area: description;
    }
    .title p{
        width: 900px;
        margin: auto;
        font: 1em sans-serif;
        background-color: aqua;
    }
    .other{
        background-color: antiquewhite;
        width: 900px;
        margin: auto;
        display: grid;
        grid-template-columns: 0.5fr 0.5fr 0.5fr;
        grid-template-rows: 0.5fr 0.5fr; 
        grid-template-areas: 
        "khmer korean chinese1"
        "chinese2 korean1 chinese3";
    }
    .khmer{
        grid-area: khmer;
        background-color: aqua;
    }
    .korean{
        grid-area: korean;
        background-color: aqua;
    }
    .chinese1{
        grid-area: chinese1;
        background-color: aqua;
    }
    .chinese2{
        grid-area: chinese2;
        background-color: aqua;
    }
    .korean1{
        grid-area: korean1;
        background-color: aqua;
    }
    .chinese3{
        grid-area: chinese3;
        background-color: aqua;
    }



