*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    nav{
        width: 900px;
        display: flex;
        margin: auto;
    }
    nav .title{
    
        width: 40%;
        height: 100px;
        font-size: 1.5em;
        display: flex;
        
    }
    nav .title p{
        margin: auto 0;
    }
    nav .list{
        display: flex;
        width: 60%;
        height: 100px;
    }
    nav .list ul{
        list-style: none ;
        display: flex;
        margin: auto
    }
    nav .list ul li{
        padding: 10px;
    }
    nav .list ul li a{
        font-size: 1.2em;
        text-decoration: none;
        color: black;
        margin: 0;
    }
    nav .list ul li a:focus{
        text-decoration: underline blue;
        /* background-color: red; */
    }
    nav .list ul li a:hover{
        background-color: azure;
    }
    nav .list ul li a:is(:link, :active, :visited).active {
        color: rgb(0, 34, 255);
        text-decoration: underline double;
    }
    .container p{
        font-size: 20px;
    }
    .container{
        width: 900px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 0.2fr 0.2fr 1fr;
        grid-template-areas: 
        "img step1"
        "img step2"
        "description step3"
        "description step4";
        gap: 20px;
        
    }
    .img img{
        width: 100%;
        height: 100%;
        
    }
    .img{
        grid-area: img;
    }
    .step1{
        grid-area: step1;
    }
    .step2{
        grid-area: step2;
    }
    .step3{
        grid-area: step3;
    }
    .step4{
        grid-area: step4;
    }
    .description{
        grid-area: description;
    }
    .title01 p{
        width: 900px;
        margin: auto;
        font: 1.5em sans-serif;
        
    }
    .other{
        
        /* background-color: antiquewhite; */
        width: 900px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr; 
        grid-template-areas: 
        "khmer korean chinese1"
        "chinese2 korean1 chinese3";
        gap: 30px;
    }

    .khmer img{
        grid-area: khmer;
        width: 100%;
        height: 100%;
        background-color: aqua;
    }
    .korean img{
        grid-area: korean;
        width: 100%;
        height: 100%;
        background-color: black;
    }
    .chinese1 img{
        grid-area: chinese1;
        width: 100%;
        height: 100%;
        background-color: beige;
    }
    .chinese2 img{
        grid-area: chinese2;
        width: 100%;
        height: 100%;
        background-color: red;
    }
    .korean1 img{
        grid-area: korean1;
        width: 100%;
        height: 100%;
        background-color: yellow;
    }
    .chinese3 img{
        grid-area: chinese3;
        width: 100%;
        height: 100%;
        background-color: black;
    }

/* @media screen and (min-width: 700px) and (max-width: 900px) {
     nav{
        width: 900px;
        display: flex;
        margin: auto;
        background-color: aqua;
    }
    nav .title{
    
        width: 40%;
        height: 100px;
        font-size: 1.5em;
        display: flex;
        
    }
    nav .title p{
        margin: auto 0;
    }
    nav .list{
        display: flex;
        width: 60%;
        height: 100px;
    }
    nav .list ul{
        list-style: none ;
        display: flex;
        margin: auto
    }
    nav .list ul li{
        padding: 10px;
    }
    nav .list ul li a{
        font-size: 1.2em;
        text-decoration: none;
        color: black;
        margin: 0;
    }
    nav .list ul li a:focus{
        text-decoration: underline blue;
        background-color: red;
    }
    nav .list ul li a:hover{
        background-color: azure;
    } 
    .container p{
        font-size: 20px;
    }
    .container{
        width: 900px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 0.2fr 0.2fr 1fr;
        grid-template-areas: 
        "img step1"
        "img step2"
        "description step3"
        "description step4";
        gap: 20px;
        
    }
    .img img{
        width: 100%;
        height: 100%;
        
    }
    .img{
        grid-area: img;
    }
    .step1{
        grid-area: step1;
    }
    .step2{
        grid-area: step2;
    }
    .step3{
        grid-area: step3;
    }
    .step4{
        grid-area: step4;
    }
    .description{
        grid-area: description;
    }
    .title p{
        width: 900px;
        margin: auto;
        font: 1em sans-serif;
        
    }
    .other{
        
        background-color: antiquewhite;
        width: 900px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr; 
        grid-template-areas: 
        "khmer korean chinese1"
        "chinese2 korean1 chinese3";
        gap: 30px;
    }

    .khmer img{
        border: solid black;
        grid-area: khmer;
        width: 100%;
        height: 100%;
        background-color: aqua;
    }
    .korean img{
        grid-area: korean;
        width: 100%;
        height: 100%;
        background-color: black;
    }
    .chinese1 img{
        grid-area: chinese1;
        width: 100%;
        height: 100%;
        background-color: beige;
    }
    .chinese2 img{
        grid-area: chinese2;
        width: 100%;
        height: 100%;
        background-color: red;
    }
    .korean1 img{
        grid-area: korean1;
        width: 100%;
        height: 100%;
        background-color: yellow;
    }
    .chinese3 img{
        grid-area: chinese3;
        width: 100%;
        height: 100%;
        background-color: black;
    }
} */





